.container(style="margin-top:50px")
    .row
        .col-sm-6.col-sm-offset-3
            .panel.panel-default
                .panel-title {{ 'LOGIN' }}
                .panel-body
                    form(name='myForm')

                        label(for="email") {{ 'EMAIL' }}
                        input.form-control(type="text",name="email",placeholder="john@gmail.com",id="email",ng-model="email")

                        label(for="email") {{ 'PASSWORD' }}
                        input.form-control(type="password",name="pw1",placeholder="Password",id="pw1",ng-model="pw1")
                        
                        br
                        .alert.alert-danger(ng-if="error") You could not be logged in, please try again.
                            
                        .msg-block(ng-show='myForm.$error')
                              span.msg-error(ng-show='myForm.pw2.$error.pwmatch' style='color:red') Passwords don't match.
                                
                        button.btn.btn-primary(ng-click="login()")
                            span  Sign In

                        span &nbsp;
                        
                        a.btn.btn-success(ng-click="open()")
                            i.fa.fa-pencil
                            span  Sign Up
                        
                              
