.container
	.panel.panel-default
		.panel-title Machines
		.panel-body
			.container.col-sm-4
				table.table
					tr
						th Hostname
						th IP
					tr(ng-repeat="m in machines", ng-click="selectRow(m)")
						td {{ m.hostname }}
						td {{ m.ip }}
			.container.col-sm-4(ng-show="selected")
				table.table
					tr
						th Hostname
						th IP
					tr.animation(ng-repeat="m in machines2")
						td {{ m.hostname }}
						td {{ m.ip }}
				button.form-control.btn-success(ng-click="clear()") Clear
