.container(style="margin-top:50px")
    .row
        .col-sm-6.col-sm-offset-3
            .panel.panel-default
                .panel-title {{ 'LOGIN' }}
                .panel-body
                    form(name='myForm')

                        label(for="email") {{ 'EMAIL' }}
                        input.form-control(type="text",name="email",placeholder="john@gmail.com",id="email",ng-model="email")

                        label(for="email") {{ 'PASSWORD' }}
                        input.form-control(type="password",name="pw1",placeholder="Password",id="pw1",ng-model="pw1")
                         
                        label(for="email") {{ 'REPEAT PASSWORD' }} 
                        input.form-control(type="password",name="pw2",placeholder="Password",id="pw2",ng-model="pw2",  pw-check='pw1')
                         
  
                        .msg-block(ng-show='myForm.$error')
                            span.msg-error(ng-show='myForm.pw2.$error.pwmatch' style='color:red') Passwords don't match.
                        br
                        span &nbsp;
                        
                        button.btn.btn-primary(ng-click="signup()")
                            i.fa.fa-pencil
                            span  Sign Up