.container
	.panel.panel-default
		.panel-title Docker with Websocket
		.panel-body
				.div(class="col-sm-12")
					label(for="command") {{ 'COMMAND' }}
					input.form-control(name="command",placeholder="Command", id="command",ng-model="command")
					br
					textarea.form-control(name="output", ng-model="output", rows="10" )
					br
					button.btn.btn-primary.pull-right(ng-click="sendCommand()")
							i.fa.fa-sign-in
							span  Send
