html
	head
		title SIEM        
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")

		// Style files
		link(rel="stylesheet",href="/css/theme.css")
		link(rel="stylesheet",href="/css/custom.css")

		// Font awesome for icons
		link(rel="stylesheet",href="/vendor/font-awesome.css")

		// The angular dependencies
		script(src="/vendor/angular-1.5.0/angular.js")
		script(src="/vendor/angular-1.5.0/angular-animate.js")
		script(src="/vendor/jquery.js")

		// Rickshaw - Time series Plots
		link(href="/vendor/rickshaw/rickshaw.css",rel="stylesheet")
		script(src="/vendor/d3.js")
		script(src="/vendor/rickshaw/rickshaw.js")
		script(src="/vendor/rickshaw/angular-rickshaw.js")
			
		// Leaflet
		//script(src="/vendor/leaflet/angular-leaflet-directive.js")
		//script(src="/vendor/leaflet/leaflet.js")
		//link(rel="stylesheet",href="/vendor/leaflet/leaflet.css")

		// UI Router
		script(src="/vendor/angular-ui-router.js")

		// UI Bootstrap
		script(src="/vendor/angular-bootstrap/ui-bootstrap.js")
		script(src="/vendor/angular-bootstrap/ui-bootstrap-tpls-1.2.1.min.js")

		// Angular Sanitize
		//script(src="/vendor/angular-sanitize.js")
		//script(src="/vendor/angular-jwt.js")

		// Translate
		//script(src="/vendor/angular-translate/angular-translate.js")
		//script(src="/vendor/angular-translate/angular-translate-loader-url.js")
	
		// Websocket
		script(src="/vendor/angular-websocket.js")
		script(src="/vendor/jquery.js")
        
		// alertify js
		//script(src="/vendor/alertifyjs/alertify.min.js")
		//link(href="/vendor/alertifyjs/css/alertify.min.css", rel="stylesheet")

		// Application Entry point	
		script(src="/js/main.js")
		script(src="/js/services.js") 
		script(src="/js/controllers.js") 
		script(src="/js/directives.js")  
		
	body(ng-app="MyApp")  
		nav.navbar.navbar-inverse
			.container
				.navbar-header
					a.navbar-brand(href="#") 
						b SIEM
				ul.nav.navbar-nav
					li(ng-show="! $root.token")
						a(href="#/login") 
							i.fa.fa-cubes
							b  Login       
					li(ng-show="$root.token")
						a(href="#/machines") 
							i.fa.fa-cubes
							b  Machines
					li(ng-show="$root.token")
						a(href="#/containers") 
							i.fa.fa-cubes
							b  Containers
				ul.nav.navbar-nav.navbar-right
					li(ng-show="$root.token")
						a(href="#",ng-click="logout()")
							i.fa.fa-sign-out
							b  Logout

		#content(ui-view="")  
